<a href="https://colab.research.google.com/github/Murali-Krishna22ds/December2025GenAI/blob/main/Control_Structures1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [23, 45, 12, 67, 34, 89, 56]
max_num=numbers[0]
for number  in numbers:
  if number>max_num:
    max_num=number
print(max_num)

89

In [ ]:
x=1
while x<=5:
  print("The value of x is",x)
  x=x+1

The value of x is 1
The value of x is 2
The value of x is 3
The value of x is 4
The value of x is 5

In [ ]:
x=1
y=[]
while x<10:
  y.append(x)
  x=x+2
y

[1, 3, 5, 7, 9]

In [ ]:
x="data"
print(x[0:1])
print(x[0:2])
print(x[0:3])
print(x[0:4])

d
da
dat
data

In [ ]:
x="data"
var=1
while var<5:
  print(x[0:var])
  var=var+1

d
da
dat
data

In [ ]:
x=5
var=5
while var>0:
  print(var*"*")
  var=var-1

*****
****
***
**
*

In [ ]:
x=[11,22,3,2244,45,61,72,822,91,102]
even_sum=0
odd_sum=0
var=0
while var<10:
  if(x[var]%2==0):
    even_sum=even_sum+x[var]
  else:
    odd_sum=odd_sum+x[var]
  var=var+1
print(even_sum,odd_sum)

3262 211

In [ ]:
for i in range(0,10):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [ ]:
for i in range(0,10):
  if i==5:
    continue
  print(i,end=",")

0,1,2,3,4,6,7,8,9,

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if j==2:
      break
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    if j==2:
      continue
    print(i,j)

0 0
0 1
0 3
0 4
1 0
1 1
1 3
1 4
2 0
2 1
2 3
2 4
3 0
3 1
3 3
3 4
4 0
4 1
4 3
4 4

In [ ]:
for i in range(0,5):
  for j in range(0,5):
    print(i,j)
    if j==2:
      break

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [ ]:
for i in "datascience":
  for j in "data":
    if j=="t":
      break
    print([i,j],end=" ,")

['d', 'd'] ,['d', 'a'] ,['a', 'd'] ,['a', 'a'] ,['t', 'd'] ,['t', 'a'] ,['a', 'd'] ,['a', 'a'] ,['s', 'd'] ,['s', 'a'] ,['c', 'd'] ,['c', 'a'] ,['i', 'd'] ,['i', 'a'] ,['e', 'd'] ,['e', 'a'] ,['n', 'd'] ,['n', 'a'] ,['c', 'd'] ,['c', 'a'] ,['e', 'd'] ,['e', 'a'] ,

In [ ]:
for i in "datascience":
  for j in "data":
    if j=="t":
      print([i,j],end=" ,")
      break

['d', 't'] ,['a', 't'] ,['t', 't'] ,['a', 't'] ,['s', 't'] ,['c', 't'] ,['i', 't'] ,['e', 't'] ,['n', 't'] ,['c', 't'] ,['e', 't'] ,

In [ ]:
x=10
for i in range(0,10):
  for j in range(0,20,5):
    if i%2==0:
      break
    print(i,j)

1 0
1 5
1 10
1 15
3 0
3 5
3 10
3 15
5 0
5 5
5 10
5 15
7 0
7 5
7 10
7 15
9 0
9 5
9 10
9 15

In [ ]:
for i in range(0,10):
  for j in range(0,21,4):
     print(i,j)
     if j%2==0:
      break

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0

In [ ]:
course_list = ["DS", "DE", "ADO"]
for i in range(len(course_list)):
   print(f"index {i} : {course_list[i]}")

index 0 : DS
index 1 : DE
index 2 : ADO