In [2]:
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")

Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
set1 ={1, 2, 3, 4, 5}

set1.add(11)
set1

{1, 2, 3, 4, 5, 11}

In [5]:
s={1, 2, 3, 4, 5, 6}
s.remove(3)
s

{1, 2, 4, 5, 6}

In [6]:
a={1, 2, 3, 4, 5} 
b={4, 5, 6, 7, 8}

for i in a:
    if i in b:
        print(i,end=" ")

4 5

In [7]:
a={1, 2, 3, 4, 5} 
b={4, 5, 6, 7, 8}
c=a&b
print(c)

{4, 5}

In [8]:
a={1, 2, 3, 4, 5} 
b={4, 5, 6, 7, 8}
d= a.difference(b)
d

{1, 2, 3}

In [ ]:
s={1,2,3,4,5,6,7,8}
if 5 in s:
    print(" number is available in s variable name")
else:
    print("digit is not available in s variable ")

In [10]:
a={'a', 'b', 'c', 'd', 'e','g'}
length=len(a)
print(length)

6

In [11]:
c="hello world"
vowel="aeiou"
for i in c.lower():
    if i in vowel:
        print(i ,end=" ")

e o o

In [12]:
s=[1,9,9, 2, 2, 3, 4, 4, 5, 6, 6, 7]
sorted_set=set(s)
print(sorted_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [13]:
s1={1, 2, 3}
s2={1, 2, 3, 4, 5, 6}
print(s1.issubset(s2))

True